.destinations{
    margin-top: 60px;
    height: 95vh;
    width: 100vw;
}

.destinations__container{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 4rem 5.5rem;
}

#hawaii{
    background-image:url(../assets/images/hawaii.jpg);
}

#iceland{
    background-image:url(../assets/images/iceland.jpg);
}

#greece{
    background-image: url(../assets/images/greece.jpg);
}


.destinations__title{
    color: white;
    font-size: 4.3rem;
    margin-bottom: 3rem;
    animation: textShadowEffect 3s;
}

@keyframes textShadowEffect {
    0% {
        text-shadow: 0 0 black;
    }
    100% {
        text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
    }
}


.destinations__activities{
    display: flex;
    justify-content: center;
    align-items: center;
}
.activity-card{
    width: 250px;
    height: 350px;
    margin-left: 2rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}

.activity-card__title{
    color: black;
    border-bottom: 2px solid black;
}

.activity-card__list{
    margin: 1rem 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.activity-card__item {
    color: black;
    background-color: #FEFAF5;
    margin: 1rem 0;
    padding: 0.8rem 0;
    animation: fadeIn 2s ease; 
}



@media (max-width: 768px) {
    .destinations {
        height: auto;
    }

    .destinations__container {
        padding: 2rem;
        background-size: cover;
    }

    .destinations__title {
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    .destinations__activities {
        flex-direction: column;
        align-items: flex-start;
    }

    .activity-card {
        width: 100%;
        max-width: 100%;
        margin: 1rem 0;
        height: auto;
    }

    .activity-card__title {
        font-size: 1.8rem;
        border-bottom: 2px solid black;
    }

    .activity-card__list {
        margin: 1rem 0;
    }

    .activity-card__item {
        margin: 1rem 0;
    }
}



